<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <title>snippets</title>
</head>

<body>
  <h1>yo</h1>
  <div class="wraper">


    <div class='inputDiv'>
      <form class="snippetForm" action="/" method="post">
        <input type="text" name="title" value="">
        <textarea name="code" rows="8" cols="80"></textarea>
        <input type="text" name="notes" value="">
        <select class="languages" name="language">
      <option value="javascipt" selected>Javascript</option>
      <option value="java">Java</option>
      <option value="python">Python</option>
      <option value="yacc">Yacc</option>
    </select>
        <div class="tags">
          <input type="radio" name="" value="">
          <label for="">function</label>
          <input type="radio" name="" value="">
          <label for="">boiler plate</label>
          <input type="radio" name="" value="">
          <label for="">Schema</label>
        </div>
        <button type="submit" name="button">Submit Snip!</button>
      </form>
    </div>

    <div class="results">

    </div>


  </div>

</body>

</html>
